:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --gray--100: rgba(188, 195, 199, 1);
  --gray--500: rgba(109, 116, 120, 1);
  --gray--950: rgba(4, 4, 4, 1);
  --green--100: rgba(3, 204, 92, 1);
  --blue--100: rgba(1, 169, 255, 1);
  --blue--200: rgba(66, 132, 247, 1);
  /* Effect styles */
  --shadow--100: 0px 4px 4px rgba(68, 131, 63, 0.15);

  --gradient-300: linear-gradient(99deg, #fff 29.16%, #f4f4f4 93.35%);
}

.widget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 192px;
  padding: 16px;
  padding-inline-end: 8px;
  background: var(--gradient-300);
  border: 1px solid #ebebea;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(181, 181, 181, 0.15);

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .temp {
      font-size: 20px;
      font-weight: 900;
      line-height: 1;
      color: var(--gray--950);
    }

    .notice {
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      color: var(--gray--500);
    }
  }
}
